.container {
  width: 100%;
  margin-top: 10px;
}

div.sub {
 text-align: center;
}


body {
    margin: 0;
}



.divSty{
margin-left:0%;

}

.divSearch{

  width: 500%;

}

.menuButton{
  background-color: #34495E;
width: 200px;
  height: 200px;

}

.sidebarMenu{
    float: left;
    width: 21%;
    color: #555;
}

.contentPage{
    float: right;
    width: 79%;
}
